*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    height: 100vh;
}

#back{
    width: 100%;
    height: 100vh;
}

#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#top{
    pointer-events: none;
    width: 100%;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
}

#workingArea{
    margin: 0 auto;
    width: 80%;
    max-width: 1920px;
    height: 100vh;
    position: relative;
}

#nav{
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav img{
    height: 60px;
}

#navLeft, #navRight{
    display: flex;
    align-items: center;
    gap: 60px;
}

#nav a{
    pointer-events: all;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: white;
}

#hero{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-40%);
    
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#heroLeft{
    min-width: 50%;
}
#heroLeft .elem{
    height: 9vw;
    overflow: hidden;
}

#heroLeft .elem h1{
    line-height: 0.9;
    font-family: "kajiro";
    color: white;
    font-weight: 100;
    font-size: 11vw;
}

#heroLeft button{
    pointer-events: all;
    padding:  .5vw 2vw;
    font-size: 3vw;
    margin-top: 2vw;
    font-family: 'kajiro';
}

#heroRight{
    display: flex;
    flex-direction: column;
    /* align-items:flex-end; */
    width: 17%;
    color: white;
}

#heroRight p{
    font-size: 12px;
    font-weight: 300;
    text-align: right;
}

#heroRight #imageDiv{
    width: 100%;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 30px;

    background-image: url(https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cG9ydHJhaXR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position:50% 40%;
}

#heroRight p:nth-child(3){
    margin-bottom: 60px;
}

